body{
	font-family: sans-serif;
	font-size: 15px;
}

.login{
	width: 40%;
	height: 20%;
	margin: 0 auto;
	background: LimeGreen;
	margin-top: 10%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 20px 2px black;
}

.t_login{
	width: 100%;
	height: 100%;
	padding: 20px;
}

.logo_login{
	width: 80%;
}
.titulo{
	text-align: center;
}

.fondo-titulo{
	background: LimeGreen;

}
.bar-titulo{
	height: 100%;
	background: none;

}
.logo-user{
	width: 100%;
	height: 100px;
}
.img-user{
	width: 100px;
}

.fondo{
	background: black;
}
.options{
	width: 24%;
	background: white;
	padding: 10px;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 2px 2px 1px black;
	transition:all 0.5s;
}
.options:hover{
	background: LimeGreen;
	color: white;
	box-shadow: 0px -5px 2px 1px black;

}
.right{
	text-align: right;
	margin-right: -10px;
}

.icon{
	width: 150px;
	height: 150px;
	background: orange;
	text-align: center;
	border-radius:4px;
	box-shadow: 0px 0px 10px 2px grey;
	display: inline-block;
	margin-top: 5px;
	transition:all 0.5s;
}
.icon:hover{
	background: Navy;
	box-shadow: 0px 0px 0px 0px white;

}
.icon-dentro{
	width: 140px;
	height: 140px;
	background: white;
	border-radius:4px;
	margin: 0 auto;
	position: relative;
	top: 5px;
	text-align: center;
}

.logo-pages{
	display:block;
	position: relative;
	margin: 0 auto;
}
.menu{
	background: LimeGreen;
	color: white;
	border:1px solid black;
	padding: 0px;

}
.menu ul li{
	list-style-type: none;
	padding: 5px;
}
.marco{
	width: 100%;
	height: 100%;

}
.lista{

}
.table-upload{
	background: #D3D3D3;
}
.subir{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: none;
	text-align: center;
}
.upload{
	width: 250px;
	margin: 0 auto;
	background: none;
	padding: 0px;
}
.titulo{
	background: purple;
	color: white;
}
.titulos{
	text-align: right;
	float: right;
}
#area{
	height: 600px;
	border:0px;

}
.registro{
	width: 100%;
	height: 100%;
	background: grey;
	padding: 10px;
	margin-top: 2%;

}
.t_registtro{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	background: white;
	border:3px solid black;
}
.ajuste
{
	width: 100%;
	padding: 4px;
}

#border{
	border:2px solid black;
}